/*!*****************************************************************************
  @file			Styles.css
  @author		VicKoz
  @brief		styles for my site
  @date			2021
  @note
  */

body {
	background-image: url(bg_white.jpg);
	color: #003;
	font-size: smaller;
	font-family: verdana;
	--ahover: #3399FF;
	--avisit: #9933FF;
	--gradstop: #ddd;
	--gradmid: #eee;
	/* margin: 1em 1.5em; */
	padding: 0;
	scrollbar-track-color: #eee;
	scrollbar-3Dlight-color: #fff;
	scrollbar-highlight-color: #ddd;
	scrollbar-face-color: #ddd;
	scrollbar-arrow-color: #369;
	scrollbar-shadow-color: #ddd;
	scrollbar-darkshadow-color: #ccc;
	/*scrollbar-base-color: #eee*/
}


/*a:active {color: aqua}*/
a:visited {
	color: var(--avisit); /* #36c teal purple */
}

a:hover {
	color: var(--ahover); font-style: regular; text-decoration: overline;
	}
a img {border: none}


dl {margin: .5em 0}
dt {color: #069; font-weight: normal; font-style: italic; margin-top: .5em}
dd {margin-left: 1em; text-align: justify}

h1 {
	color: #9CF; 
	font-style: oblique; 
	font-weight: bold; 
	margin: 0 0; 
	padding: 0 0.25em; 
	text-align: left
}
/* h1 {color: #9cf; font-weight: lighter; margin: .5em 0; padding: 0 .5em; text-align: left} */
h2 {
	color: #f90; 
	font-weight: normal; 
	margin: 0 0; 
	padding: 0 0.25em; 
	text-align: left 
}

h3 {
	color: #369; 
	font-weight: lighter; 
	margin: 0.5em 0; 
	padding: 0 1em
}
h4 {color: #369; font-weight: bold; font-size: 100%; margin: .75em 0 .25em; padding: 0 1em}
h5 {color: #369; font-family: verdana; font-weight: normal; font-size: 100%; margin: .75em 0 .25em; padding: 0}


hr {color: silver; height: 1px; margin: 2px;}
/* hr {color: black; height: 2px} */

p {
	text-align: justify;
	text-indent: 1em;
	margin: 0 0.25em .25em 0.25em
}
.att {font-weight: bold}
.date {color: #069; font-style: italic; /* font-weight: bold */}
/*.date:before {content: "["}*/
/*.date:after {content: "]"}*/
.name {color: brown; font-weight: bold}
.note {color: gray; font-style: italic} 
/*.pad {background: #eee; border: 1px solid gray; margin: .5em 0; padding: .5em}*/
.pad {background: #eee; border: none; margin: .5em 0; padding: .5em}
.right {text-align: right}
.strik {text-decoration: line-through}
.warn {color: #c03}
.cold {color: #30c}

img {cursor: crosshair; margin: .5em}
/*img {cursor: crosshair; margin: 10px}*/
img.inline {margin: 0 .5em 0 0}

li {
	margin: 0;
	padding: 0.25em;
}
ul {
	list-style: square inside;
	/* margin: 0.25em; */
	padding: 0.25em;
}
/*ol, ul {margin: .5em .75em; list-style: inside}*/
ol, ul {margin: .5em 0; padding: 0 1em 0 2.3em; list-style: outside}
ul.none {
	list-style: none;
	margin: 0;
	padding: 0 1em 0.25em;
}
ul.wide {list-stule: none; margin: 0; padding: 0}
ol ol, ol ul, ul ol, ul ul, tr ul {margin-top: 0; margin-bottom: 0; list-style: none} /* вложенные списки */

table {background: #eee; border: 1px solid gray; show; /*font-size: 100%;*/ margin: .5em 0}
caption {color: #369; font-weight: bold; font-size: smaller; text-align: left}
thead td {color: #369; font-size: smaller}
th {border: 1px solid gray; color: #369; font-style: normal; font-weight: normal; font-size: smaller; padding: 0 .5em; text-align: left; vertical-align: top}
td {border: 1px solid silver; font-size: smaller; padding: 0 .5em; vertical-align: top}
table.pad {background-color: #eee; border: none; padding: .5em}
table.pad td {border: none}
table.pad th {border: none}
table.none {background-color: transparent; border: none; padding: .5em}
table.none td {border: none}
table.none th {border: none}
table.light {background-color: #eee; border: none}
table.light th {border: 1px solid #ddd}
table.light td {border: 1px solid #ddd}


/*  Divisions  ________________________________________________________________*/

.container {
	display: grid;
	background-color: var(--gradmid);
	grid-template-areas:
		"title head help"
		"hline hline hline"
		"nav main aside"
		"hline hline hline"
		"nfoot mfoot sfoot";
	grid-template-columns: 1fr 4fr 1fr;
	/* grid-template-rows: 60px 10px auto 10px 60px; */
	/* grid-template-rows: 6% 1% 85% 1% 6%; */
	grid-template-rows: 6vh 1vh 82.3vh 1vh 6vh;
	grid-gap: 0 0.2em;
	/* border-radius: 0.5em; */
	/* --gradstop: #ececec; */
	--gradstop: #ddd;
	--gradline: #aaa;
	color: black;
	padding: 0.5em;
	margin: 0 0;
}

.title, .head, .help {
	background-image: linear-gradient(to bottom, white, var(--gradstop));
	padding: 0.25em 0.5em;
}

/*
.help {
	background-image: radial-gradient(circle, white, var(--gradstop));
	margins: 0 0.5em;
}
*/

.hline {
	grid-column: span 3;
	grid-row: span 1;
	padding: 0;
	margin: 0;
	/* border-radius: 2px; */
	background-image: 
		linear-gradient(to bottom, var(--gradstop), var(--gradline), var(--gradstop));
}

.navhead, .mainhead, .asidehead {
	background-image: 
	linear-gradient(to bottom, var(--gradstop), white);
	padding: 0 0.5em;
}

.nav, .main, .aside {
	background-color: white;
	background-image:
	linear-gradient(to bottom, var(--gradstop) 0%, white 15%, white 85%, var(--gradstop) 100%); */
	margin: 0.25em 0.5em;
	overflow-y: auto;
}

.foot {
	background-image: linear-gradient(to bottom, var(--gradstop), white);
	padding: 0 0.5em;
	/* position: absolute; bottom: 0; */
}

.button {
	margin: 0.25em;
	padding: 0.25em;
	border-radius: 0.25em;
	font-style: normal;
}


.button:hover {
	/* background-image: linear-gradient(to bottom, white, var(--gradstop)); */
	text-decoration: none;
	box-shadow: 0 0 2px 1px var(--gradstop);
}

.button:active {
	/* background-image: linear-gradient(to bottom, var(--gradstop), white); */
	box-shadow: 0 0 0.5px 0.5px var(--gradstop);
	/* , inset 0 0.5px 0.5px 0.5px var(--gradstop); */
}


/*  For debug (make visual borders) uncomment tags below  ____________________*/

/*
div {border: 1px dotted aqua}
h1, h2, h3, h4, h5, h6 {border: 1px dotted orange}
p, dl, dt, dd, img, ol, ul, li, caption, th, td, 
table.none td, table.none th, table.pad td, table.pad th {border: 1px dotted silver}
*/


